.form-container {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 500px;
  padding: 16px;
  margin: 10px auto;
  background: #f7f7f7;

   h1 {
    background: #43d1af;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
  }

  .btn-send {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43d1af;
    border-bottom: 2px solid #30c29e;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    font-size: 15px;
    &:hover:not([disabled]) {
      background: #2ebc99;
    }
  }

 input[type="text"],
 input[type="email"],
 textarea {
  -webkit-transition: all 0, 30s ease-in-out;
  transition: all 0, 30s ease-in-out;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;

  &:focus {
    -webkit-box-shadow: 0 0 5px #43d1af;
    box-shadow: 0 0 5px #43d1af;
    padding: 3%;
    border: 1px solid #43d1af;
  }
}

  .alert-danger {
    color: #721c24;
    background: #f8d7da;
    border-color: #f5c6cb;
    margin-bottom: 5px;
  }

  .container-error-message {
    padding: 3px;
  }
}
